.footer {
  height: 2rem;
  width: 100%;
  left: 0;
  bottom: 3rem;
  display: flex;
  justify-content: center;
  position: absolute;
}

.icons {
    height: 2rem;
    width: 13rem;
    display: flex;
    justify-content: space-around;
}

.instagram {
  height: 2rem;
  width: 2rem; 
}

.whatsapp {
  height: 2rem;
  width: 2rem;
}

.facebook {
  height: 2rem;
  width: 2rem;
}
